<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button button-clear"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form>

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username" required="required">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password" required="required">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" ng-click="doLogin()">Log in</button>
                </label>
            </div>
        </form>

        <div class="item">
            <button class="button button-block button-positive" ng-if="!isAuthenticated()" ng-click="authenticate('facebook')">Login in with Facebook</button>

        </div>

    </ion-content>
</ion-modal-view>