<ion-view view-title="Search">



    <ion-content>

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Search" ng-model="search">
                </label>
                <button class="button button-small button-dark" ng-click="addThing(search)">
                    Search
                </button>
            </div>

        </div>

        <!--        //this is card for showing data from api.-->

        <div class="list card" ng-repeat="products in details ">


            <div class="item  item-text-wrap">
                <img ng-src="{{products.image}}">
                <h2>Name:     {{products.name}}</h2>
                <h3>Sale Price:{{products.salePrice}}</h3>
                <h3>Sku:{{products.sku}}</h3>
            </div>

        </div>


    </ion-content>
</ion-view>