<ion-view view-title="Find Store">

    <ion-content>

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Search with city" ng-model="city">
                </label>
                <button class="button button-small button-dark" ng-click="findLocation(city)">
                    Search
                </button>
            </div>

        </div>


        <div class="list card animated bounceInRight" ng-repeat="stores in details ">

            <div class="item list item-text-wrap">


                <h2>Name:     {{stores.name}}</h2>
                <h2>Address:     {{stores.address}}</h2>
                <h2>Hours:      {{stores.hours}}</h2>
                <h3>Contact Us: {{stores.phone}}</h3>
            </div>
        </div>

    </ion-content>
</ion-view>